
{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div class="jumbotron">
    <center>
  <h1 class="display-3">{{ page.header|richtext }}</h1>
  <p class="lead text-warning">{{ page.body|richtext }}</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/blog/" role="button">Blog</a>
  </p>
    </center>
</div>
{% endblock %}




